.carusel {
  width: 100%;
  height: 66.6vh;
}
.img-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.img-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fade-in {
  animation: fadein 1s ease forwards;
}
.fade-out {
  animation: fadein 1s ease forwards reverse;
}

/* create animation called fadein */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000008d;
  top: 0;
  left: 0;
  z-index: 999;
}

.popup-wrapper div div {
  width: 100%;
}

/* .responsive-mt {
  margin-top: 0.9rem;
} */

@media (max-width: 991px) {
  .responsive-mt {
    margin-top: 0.9rem;
  }
  .responsive-nav-flex {
    flex-direction: column;
  }
}
